.param-disease-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-image: url("../pictures/fond.jpg");
    border: 3px;
    border-style: inset;
    padding: 10px;
    width: 25%;
    filter: brightness(0.95); 
}

.param-disease-line {
    margin-bottom: 0.7rem;
}

.param-disease-fieldset {
    padding: 10px;
    width: 25%;
}

.param-disease-field {
    margin-bottom: 1rem;
    padding: 3px;
    border: none;
}

.param-disease-btn-container {
    margin-top: 1rem;
}

@media screen and (max-width: 600px) {
    .param-disease-fieldset {
        width: 100%;
    }

    .param-disease-container{
        width: 100%;
    }
}