.admin-user-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.admin-user-cell {
    text-align: center;
    width: 150px;
    line-height: 2rem;
    font-size: inherit;
}

.user-btn-cell {
    width: max-content;
}

.user-btn-cell button {
        font-size: inherit;
    }

@media screen and (max-width: 450px) {
    .admin-user-info {
        display: none;
    }
}