.apiary-edition-link-list{
    margin-top: 1rem;
    padding: revert;
    list-style-image: url('../pictures/print.png');
}

.apiary-edition-link{

}

.apiary-edition-btn-container{
    margin-top: 1rem;
}