* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

:root {
    --font-family: arial;
    --title-size: clamp(0.5rem, 5vw, 2rem);
    --font-size: clamp(0.5rem, 5vw, 1rem);
}

body {
    background: #f2f2f2;
    background-image: url("pictures/fond.jpg");
    min-height: 100vh;
    width: 99vw;
    padding-left: 5px;
    padding-right: 5px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: var(--title-size);
}

.form-button {
    background: #ae8b00;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.form-button:hover {
    background-color: #debe3c;
}


.footer {
    margin-top: 2.5rem;
}

/* Error form */

.error-item{
    color: red;
}