.hive-carto-canvas-container {
    min-width: 600px;
}

.hive-carto-canvas{
    border: 1px solid black;
}

.hive-carto-command-container {}

.hive-carto-button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.hive-carto-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.hive-carto-button-up-container {
    grid-area: 1 / 2 / 2 / 4;
}

.hive-carto-button-left-container {
    grid-area: 2 / 1 / 3 / 2;
}

.hive-carto-button-zoom-in-container {
    grid-area: 2 / 2 / 3 / 3;
}

.hive-carto-button-zoom-out-container {
    grid-area: 2 / 3 / 3 / 4;
}

.hive-carto-button-right-container {
    grid-area: 2 / 4 / 3 / 5;
}

.hive-carto-button-down-container {
    grid-area: 3 / 2 / 4 / 4;
}

/* Button */
.hive-carto-btn-up{

}

.hive-carto-btn-left{

}

.hive-carto-btn-zoom-in{

}

.hive-carto-btn-zoom-out{

}

.hive-carto-btn-right{

}

.hive-carto-btn-down{

}