.menu {
    background: #ed9700;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 7px;
    padding-right: 20px;
    border-radius: 15px;
}

.link-button {
    display: inline-block;
    margin-top: 5px;
}

.presentation {
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.informations {
    margin-top: 2rem;
}

.form-control {
    padding: 3px;
    border : none;
}

.welcome {
    margin-top: 1rem;
}

@media screen and (max-width: 450px){
    .menu {
        justify-content: flex-start;
        padding-left: 10px;
    }
    
    .inner-form {
        display:flex;
        flex-direction: column;
        gap : 3px;
    }

    .logout{
        margin-top: 10px;
        display: inline-block;
    }
}

@media screen and (max-width: 290px){
    .logout{
        margin-top: 10px;
        display: inline-block;
    }
}
