/* Global */
.visit-btn-container{
    margin-top: 1rem;
}
/* Add page */
.visit-add-line{
    margin-bottom: 1rem;
}

.visit-form-fieldset{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    background-color: #e0e0e0;
    width: 45%;
    margin-left: 1rem;
}

.visit-form-errors{
    margin: 1rem 0 1rem 0;
}

.visit-form-row{
    margin-bottom: 1rem;
}


.visit-form-input{
    border: none;
    padding: 3px;
}

.visit-form-multifield{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.visit-form-relative {
    position: relative;
    display: flex;
}
.visit-form-hidden-label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.visit-form-error-row{
    color: red;
    margin-left: 1rem;
}

.visit-form-disease-container{
    margin-bottom: 1rem;
}

.visit-disease-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-image: url("pictures/fond.jpg");
}


.visit-disease-dialog-line{
    margin-bottom: 1rem;
}

.visit-disease-dialog-close{
    background: none;
    border: none;
    color: white;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .visit-form-fieldset{
        width: 80%;
    }
}