.stats-harvest-weight-list-container {
    margin-bottom: 1rem;
}

.stats-harvest-weight-list {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.stats-harvest-weight-line {
    margin-bottom: 0.3rem;
}

.stats-harvest-picture {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
}

@media screen and (max-width: 820px) {
    .stats-harvest-picture {
        width: 75vw;
        height: auto;
    }
}