.stat-visit-print-picture{
     cursor: pointer;
}

.stats-visit-container {
    margin: 1rem 0 1rem 0.5rem;
    padding: 10px;
}

.stats-visit-width {
    width: min(600px, 90%);
}

.stats-visit-item {
    margin-top: 1rem;
}

.stats-visit-summary {
    list-style-type: revert;
    padding-bottom: 0.5rem;
    cursor: pointer;
    background-color: wheat;
    padding: 5px;
    margin-bottom: 0.5rem;
}

.stats-visit-view-btn {
    margin-left: 0.5rem;
}

.stats-visit-item-body {
    display: flex;
    flex-direction: column;
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    padding: 1rem;
    gap: 10px;
}

.stats-visit-item-infos {
    padding: 0.5rem;
}

.stats-visit-item-line {
    margin-bottom: 0.5rem;
}

.stats-visit-definition {
    text-decoration: underline;
    color: red;
}

.stats-visit-notes {
    background-color: #efefef;
    border-style: inset;
    padding: 10px;
    border-width: 2px;
}

@media screen and (max-width: 820px) {
    .stat-visit-print-picture{
     width: 75px;
     height: auto;
}
}